# Qualcomm MSM camera
type camera, domain;
type camera_exec, exec_type, file_type;

init_daemon_domain(camera)

allow camera system_file:file execmod;

# Interact with other media devices
allow camera { gpu_device video_device camera_device }:chr_file rw_file_perms;
allow camera { mediaserver surfaceflinger }:fd use;

# Create front and back camera sockets (/data/cam_socket[12])
type_transition camera camera_data_file:sock_file camera_socket "cam_socket1";
type_transition camera camera_data_file:sock_file camera_socket "cam_socket2";
allow camera camera_socket:sock_file { create unlink };
allow camera camera_data_file:sock_file unlink;

# read/write to /data/misc/camera
allow camera camera_data_file:dir w_dir_perms;
allow camera camera_data_file:file create_file_perms;
