# Qualcomm MSM camera
type camera, domain;
type camera_exec, exec_type, file_type;

init_daemon_domain(camera)

allow camera system_file:file execmod;

allow camera { gpu_device video_device camera_device }:chr_file rw_file_perms;
