type msm_irqbalanced, domain;
type msm_irqbalanced_exec, exec_type, file_type;
init_daemon_domain(msm_irqbalanced)

allow msm_irqbalanced self:capability { setuid setgid dac_override };
allow msm_irqbalanced sysfs_devices_system_cpu:file write;

allow msm_irqbalanced proc_irq:dir r_dir_perms;
allow msm_irqbalanced proc_irq:file rw_file_perms;
