allow system_app time_daemon:unix_stream_socket connectto;
allow system_app atfwd_service:service_manager add;
unix_socket_connect(system_app, cnd, cnd)
allow system_app cne_service:service_manager add;
