
on post-fs
    ## set gpio75 as input to power the hall sensor when connected to AP
    write /sys/class/gpio/export 75
    write /sys/class/gpio/gpio75/direction in
    start flash-sh-fw

service flash-sh-fw /system/bin/logwrapper /system/bin/sensortool.bullhead -f /vendor/firmware/nano4x1.bin
    oneshot
    disabled
